#modal-adicionar-valor {
    position: absolute;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-shadow;

    #modal-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 16px 0;
        background-color: $dutch-white;
        color: $dark-liver-horses;
        border: 2px solid $dark-liver-horses;
        border-radius: 8px;
        box-shadow: 0px 0px 10px 2px $dark-liver-horses-shadow;
    }

    .input {
        color: $dark-liver-horses;
    }

    .button {
        margin-top: 8px;
        background-color: $dark-liver-horses;
        color: $white;
    }
}